:root {    
    --color-primary: #ff4646;
    --color-primary10: #3f2d2d;
    --color-dark: #181c29;
    --color-static-white: #ffffff;
    --color-static-white20: #7f7f7f;
    --color-static-white40: #555555;
    --color-tag-purple: #4361ff;
    --color-tag-pink: #ff43f7;
    --color-tag-green: #06a44f;
    --color-content-background: #ecf3f8;
    --color-overlay: #1c1f29;
}