:root {    
    --color-primary: #ff4646;
    --color-primary10: #3f2d2d;
    --color-dark: #181c29;
    --color-static-white: #ffffff;
    --color-static-white20: #7f7f7f;
    --color-static-white40: #555555;
    --color-tag-purple: #4361ff;
    --color-tag-pink: #ff43f7;
    --color-tag-green: #06a44f;
    --color-content-background: #ecf3f8;
    --color-overlay: #1c1f29;

    --width-content: 1440px;
    --width-tablet: 768px;
    --width-mobile: 380px;


}

@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
    font-weight: 100 900;
}

@font-face {
    font-family: "Allura";
    src: url(../assets/fonts/Allura/Allura-Regular.ttf);
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-family: "Montserrat", Verdana, sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 18%;
    text-transform: uppercase;
}

h2 {
    font-family: "Montserrat", Verdana, sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 152%;
    letter-spacing: 16%;
    text-transform: uppercase;
}

h3 {
    font-family: "Montserrat", Verdana, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 152%;
    letter-spacing: 8%;
    text-transform: uppercase;
}

h4 {
    font-family: "Montserrat", Verdana, sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 5%;
    text-transform: uppercase;
}

p {
    font-family: "Montserrat", Verdana, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 148%;
}

.action-large {
    font-family: "Montserrat", Verdana, sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 152%;
    letter-spacing: 16%;
    text-transform: uppercase;
}

.action-small {
    font-family: "Montserrat", Verdana, sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 5%;
    text-transform: uppercase;
}

.caption {
    font-family: "Allura", Verdana, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 5%;
}

.slider-text {
    font-family: "Montserrat", Verdana, sans-serif;
    font-size: 80px;
    font-weight: 600;
    text-transform: uppercase;
    
}

body {
    color: var(--color-static-white);
    background-color: var(--color-static-white);
    max-width: var(--width-content);
    margin: 0 auto;
    padding: 0;
}

main {
    background-color: var(--color-primary);
    border-radius: 14px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.wrapper {
    max-width: var(--width-content);
    margin: 0 auto;
    background-image: url(../assets/img/bg-snow.png);
    background-size: auto 100%;
}

                                                            /* header */

header {
    margin: 0;
    padding: 0;
    color: var(--color-dark);
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo {
    display: flex;
    align-items: center;
    padding: 8px 20px;
}

.logo__img {
    padding-right: 10px;
}

.navigation {
    display: flex;
}

.navigation__link {
    list-style: none;
    cursor: pointer;
    padding: 12px 20px;
}

                                                        /* hero */

.hero {
    
    text-align: center;
    background-image: url(../assets/img/bg-ball.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 500px;
}

.hero__content {
    margin: 0 auto;
    padding: 80px 0;
    width: 32%;
}

.hero__caption {
    margin: 30px 0 0 0;
    padding: 0;
}

.button__magical-gifts {
    padding: 20px 32px;
    
    border-radius: 20px;
    color: var(--color-static-white);
    background-color: var(--color-dark);
    border: none;
    transition: 
        color 0.5s,
        background-color 0.5s;
}

.button__magical-gifts:hover {
    color: var(--color-dark);
    background-color: var(--color-static-white);
}

                                                            /* about */

.about__wrapper {
    color: var(--color-dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-static-white);
    border-radius: 14px;
    width: 90%;
    margin: 100px auto 0 auto;
}

.about__content {
    padding: 50px;
    flex-basis: 50%;
    
}

.about__caption {
    color: var(--color-primary);
}

.about__image {
    border-radius: 14px;
}

                                                            /* slider */

.slider {
    text-align: center;
}

.slider__place {
    width: calc( var(--width-content) - 40px);
	height: 300px;
	margin: 0 auto;
    text-align: center;
    border: 1px solid black;
	overflow: hidden;
    position: relative;
}

.slides {
    
    display: flex;
    align-items: center;
    transition: transform 1s ease-in-out;
}

.slide:first-child {
    margin-left: 50px;
}

.slide {
    margin: 10px;
    flex-shrink: 0;
}

.slide img {
    margin: 0;
    padding: 0;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    /* z-index: 2; */
}

.buttons {
    text-align: right;
}

.slider__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    background: rgba(0, 0, 0, 0.2); 
    cursor: pointer;
    width: 56px;
    height: 56px;
    border: 2px solid var(--color-static-white);
    border-radius: 20px;
    transition: all 1s;
}

.slider__button svg path {
    transition: all 1s;
}

#btn-left:hover, #btn-right:hover {
    background-color: var(--color-static-white);
}

#btn-left:hover svg path, #btn-right:hover svg path {
   stroke: var(--color-primary);
}

#btn-left:disabled, #btn-right:disabled {
    opacity: 0.4;
    pointer-events: none;
}

/*
@keyframes move-left {
    0% { transform: translateX(0); }
    20% { transform: translateX(200px); }
    40% { transform: translateX(400px); }
    60% { transform: translateX(600px); }
    80% { transform: translateX(800px); }
    100% { transform: translateX(1800px); }
}

.transition-left {
    animation-name: move-left;
    animation-duration: 8s;
    animation-fill-mode: forwards;
}

@keyframes move-right {
    0% { transform: translateX(-0px); }
    20% { transform: translateX(-200px); }
    40% { transform: translateX(-400px); }
    60% { transform: translateX(-600px); }
    80% { transform: translateX(-800px); }
    100% { transform: translateX(-1800px); }
}

.transition-right {
    animation-name: move-right;
    animation-duration: 8s;
    animation-fill-mode: forwards;
}
*/

                                                            /* .best-gifts */

.best-gifts {
    margin: 100px auto;
    text-align: center;
}

.layout-4-columns {
    display: flex;
    
    flex-wrap: wrap;
    text-align: center;
    gap: 12px;
    justify-content: center;
}

.gift {
    
}

.tag-work {
    color:  var(--color-tag-purple);
}

.tag-health {
    color:  var(--color-tag-green);
}

.tag-harmony {
    color:  var(--color-tag-pink);
}

.gift__wrapper {
    display: flex;
    flex-direction: column;
    
    overflow: hidden;
    width: 310px;
    height: 342px;
    background-color: var(--color-content-background);
    border-radius: 20px;
}

.img-gifts {
    
    width: auto;
    height: 230px;
}

.gift__content {
    margin: 0;
    padding: 0;
    background-color: var(--color-static-white);
    border-radius: 20px;
    flex-grow: 1;
}

.gift__category {
    padding: 5px 0 0 20px;
    text-align: left;
}

.gift__name {
    padding: 0 0 0 20px;
    color: var(--color-dark);
    text-align: left;
}

                                                            /* cta */

.cta {
    
}

.cta__content {
    
    margin: 100px auto 0;
    padding: 180px;
    text-align: center;
    background-image: url("../assets/img/bg-forest.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% auto;
}

.cta__name {
    margin: 0 auto;
    padding: 0;
    margin-bottom: 30px;
    width: 32%;
}

.cta__caption {
    margin: 40px 0 0 0;
    padding: 0;
}

.timer {

}

.timer__wrapper {
    margin: 20px auto 0 auto;
    padding: 0;
    
}

.timer__content {
    
    padding: 15px 20px;
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    
}

.timer-cell {
    width: 80px;
}

.timer__number {
    margin: 0 auto;
    padding: 0;
}

.timer__signatures {
    margin: 0 auto;
    padding: 0;
}

/*
.days {

}

#days__number {
    
}

#days__signatures {
    
}

.hours {

}

#hours__number {
    
}

#hours__signatures {
    
}

.minutes {

}

#minutes__number {
    
}

#minutes__signatures {
    
}

.seconds {

}

#seconds__number {
    
}

#seconds__signatures {
    
}
*/


                                                            /* footer */

footer {
    margin: 50px auto 0;
    color: var(--color-dark);
}
.activity {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

}

.contact {
    background-color: var(--color-content-background);
    
    width: 25em;
    border-radius: 15px;
    text-align: center;
    border: 2px solid blue;

}

.footer__activity {
    display: block;
    margin: 0 auto;
    padding: 10px;
}

.title-footer__actitvity {
    margin: 0;
    padding: 0;
}
/*
.call
.meet
.write
.social-media
.copyright */

.rs-school-logo {
    height: auto;
    border: 3px solid var(--color-dark);
    border-radius: 40%;
    rotate: -30deg;
}